<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% if user.is_authenticated %}
      <div class="mb-3">
        <input type="text" id="searchInputs" class="form-control" placeholder="Search...">
      </div>
      <div class="mb-3">
        <a id="createNewButton" class="btn btn-primary">Create New</a>
      </div>
      <div class="table-section">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">File Path</th>
                <th scope="col">Create Day</th>
                <th scope="col">Last Modified Time</th>
                <th scope="col"> Upload </th>
              </tr>
            </thead>
            <tbody id="tableBody">
              {% if items %}
                {% for file_name, file_path, file_created, file_last_modified, form, form_id in items %}
                    <tr>
                      <td>
                        <a class="btn btn-success" href="{% url 'file_download' pk=file_path %}" download>Download</a>
                      </td>
                        <td>
                          <button type="button" class="btn btn-light" onclick="confirmDelete(this)" data-filepath="{{ file_path }}">Delete</button>
                        </td>

                        <script>
                          // Define a global variable to store the URL pattern
                          var rmFileUrlPattern = '{% url "delete_excel_file" file_path %}';

                          function confirmDelete(button) {
                            var filePath = button.getAttribute('data-filepath');
                            console.log(filePath);
                            var result = confirm("Are you sure you want to delete this file?");
                            if (result) {
                              // Use the global variable to replace the placeholder
                              var deleteUrl = rmFileUrlPattern.replace('file_path', filePath);
                              window.location.href = deleteUrl;
                            } else {
                              // If the user clicks "Cancel", do nothing
                            }
                          }
                        </script>
                        <td onclick="window.location.href='{% url 'e_record' file_path %}';">{{ file_name }}</td>
                        {% if file_path is not True %}
                            <td onclick="window.location.href='{% url 'e_record' file_path %}';">{{ file_path }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td onclick="window.location.href='{% url 'e_record' file_path %}';">{{ file_created }}</td>
                        <td onclick="window.location.href='{% url 'e_record' file_path %}';">{{ file_last_modified }}</td>
                        <td>
                      <div class="dropdown">
                        <button class="dropdown-item" onclick="toggleForm(this, {{ form_id }})">Upload File</button>
                        <div class="dropdown-content" id="uploadForm{{ form_id }}" style="display: none;">
                          <div class="container">
                            <form id="uploadForm" action="{% url 'profile_image_upload' file_path=file_path %}" method="post" enctype="multipart/form-data" class="mt-5">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <button type="submit" onclick="getPath(this, {{file_path}})" class="btn btn-secondary">Submit</button>
                             <a class="btn btn-secondary" href="{% url 'cam_scan' file_path %}">Scan Image</a>
                            </form>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal fade" id="createNewModal" tabindex="-1" role="dialog" aria-labelledby="createNewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createNewModalLabel">Create New</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Input field for keyboard input -->
              <form id="createNewForm">
                <div class="mb-3">
                  <label for="customInput" class="form-label">Type Something:</label>
                  <input type="text" class="form-control" id="customInput" name="customInput" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <!-- Submit button instead of close button -->
              <button type="submit" class="btn btn-primary" onclick="submitCreateNewForm()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <h1>login</h1>
      <br/>
      <form method="POST" action="{% url 'home' %}">
          {% csrf_token %}
          <form>
              <div class="mb-3">
                <input type="text" class="form-control" name="username", placeholder="User Name">
              </div><br/>
              <div class="mb-3">
                <input type="password" class="form-control" name="password", placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">login</button>
            </form>
      </form>
      </div>
    {% endif %}
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
  <script>
      $('#createNewButton').on('click', function() {
        $('#createNewModal').modal('show');
      });
      window.submitCreateNewForm = function() {
      // Get the input value
      var inputValue = $('#customInput').val();
      var csrftoken = Cookies.get('csrftoken');
      // Perform the AJAX request
      $.ajax({
          url: '{% url "add_excel_file" %}',
          type: 'POST',
          data: {'customInput': inputValue},
          dataType: 'json',
          headers: {'X-CSRFToken': csrftoken},
          success: function(response) {
            console.log('Server response:', response);
            // Optionally, you can perform additional actions based on the server response
          },
          error: function(error) {
            console.error('Error:', error);
            location.reload();
        }
      });

      // Close the modal
      $('#createNewModal').modal('hide');
    };

    function toggleForm(button, formId) {
      var form = $('#uploadForm' + formId);
      form.show();
    }

  function getPath(button, file_path) {
      // Assuming 'file_path' is a string, modify this based on your data structure
      var form = $(button).closest('form');
      form.attr('action', form.attr('action') + '/' + encodeURIComponent(file_path));
  }
  </script>
<!--      <script>-->
<!--          $(document).ready(function () {-->
<!--            $("#searchInputs").on("keyup", function () {-->
<!--                var value = $(this).val().toLowerCase();-->
<!--                $.ajax({-->
<!--                    url: "{% url 'search_home' %}",-->
<!--                    data: { 'q': value },-->
<!--                    dataType: 'json',-->
<!--                    success: function (data) {-->
<!--                        // Update the table with search results-->
<!--                        var tableBody = $('#tableBody');-->
<!--                        tableBody.empty();-->
<!--                        $.each(data.items, function (index, item) {-->
<!--                            var row = '<tr>';-->
<!--                            row += '<td>';-->
<!--                            row += '<button type="button" class="btn btn-light" onclick="confirmDelete(this)" data-filepath="' + item.file_path + '">Delete</button>';-->
<!--                            row += '</td>';-->
<!--                            row += '<td>' + item.file_name + '</td>';-->
<!--                            row += '<td>' + item.file_path + '</td>';-->
<!--                            row += '<td>' + item.create_time + '</td>';-->
<!--                            row += '<td>' + item.file_last_modified + '</td>';-->
<!--                            row += '<td>'-->
<!--                            row += '<div class="dropdown">';-->
<!--                            tableBody.append(row);-->
<!--                        });-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        });-->
<!--      </script>-->

{% endblock %}
