<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Recycle Bin </title>
</head>

<body>
    {% block content %}
    <div class="container">
        {% if user.is_authenticated %}
        <h1>Recycle Bin</h1>
        <div class="mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
        </div>
        <div class="mb-3">
            <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
        </div>
        <div class="table-section">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">File Path</th>
                            <th scope="col">Create Day</th>
                            <th scope="col">Deleted Time</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        {% if items %}
                        {% for file_name, file_path, create_time, deleted_time, form_id_counter in items %}
                        <tr>
                            <td>
                                <button type="button" class="btn btn-light"  onclick="confirmDelete(this)" data-filepath="{{ file_path }}">Remove</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-light" onclick="confirmRecovery(this)" data-filepath="{{ file_path }}" >Recovery</button>
                            </td>
                            <td onclick="window.location.href='{% url 'e_record' file_path %}';">{{ file_name }}</td>
                            {% if file_path %}
                            <td onclick="window.location.href='{% url 'e_record' file_path %}';">{{ file_path }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td onclick="window.location.href='{% url 'e_record' file_path %}';">{{ create_time }}</td>
                            <td onclick="window.location.href='{% url 'e_record' file_path %}';">{{ deleted_time }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <h1>Login</h1>
        <br />
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="User Name">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<script>

        function confirmDelete(button) {
        var filePath = button.getAttribute('data-filepath');
        console.log(filePath);

        // Check if filePath is not empty and not undefined
        if (filePath) {
            var deleteUrl = '{% url "rm_file" rm_file="__placeholder__" %}'.replace('__placeholder__', encodeURIComponent(filePath));
            var result = confirm("Are you sure you want to delete this file?");

            if (result) {
                window.location.href = deleteUrl;
            } else {
                // If the user clicks "Cancel", do nothing
            }
        } else {
            console.error("File path is empty or undefined.");
        }
    }

    function confirmRecovery(button) {
        var filePath = button.getAttribute('data-filepath');
        console.log(filePath);

        // Check if filePath is not empty and not undefined
        if (filePath) {
            var deleteUrl = '{% url "recovery_path" recovey_file="__placeholder__" %}'.replace('__placeholder__', encodeURIComponent(filePath));
            var result = confirm("Are you sure you want to delete this file?");

            if (result) {
                window.location.href = deleteUrl;
            } else {
                // If the user clicks "Cancel", do nothing
            }
        } else {
            console.error("File path is empty or undefined.");
        }
    }
</script>
<!--<script>-->

<!--    function confirmDelete(button) {-->
<!--        var filePath = button.getAttribute('data-filepath');-->
<!--        console.log(filePath);-->
<!--        var result = confirm("Are you sure you want to delete this file?");-->
<!--        if (result) {-->
<!--            var deleteUrl = rmFileUrlPattern.replace('/rm_file/', '/' + filePath + '/');-->
<!--            console.log(deleteUrl)-->
<!--            window.location.href = deleteUrl;-->
<!--        }-->
<!--    }-->

<!--    function confirmRecovery(button) {-->
<!--        var filePath = button.getAttribute('data-filepath');-->
<!--        console.log(filePath);-->
<!--        var result = confirm("Are you sure you want to recover this file?");-->
<!--        if (result) {-->
<!--            var recoveryUrl = reFileUrlPattern.replace('/recovery_path/', '/' + filePath + '/');-->
<!--            console.log(recoveryUrl)-->
<!--            window.location.href = recoveryUrl;-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!-- Uncomment the following script if you want to enable AJAX search -->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#searchInput").on("keyup", function () {-->
<!--            var value = $(this).val().toLowerCase();-->
<!--            $.ajax({-->
<!--                url: "{% url 'search_results' %}",-->
<!--                data: { 'q': value },-->
<!--                dataType: 'json',-->
<!--                success: function (data) {-->
<!--                    var tableBody = $('#tableBody');-->
<!--                    tableBody.empty();-->
<!--                    $.each(data.items, function (index, item) {-->
<!--                        var row = '<tr>';-->
<!--                        row += '<td><button type="button" class="btn btn-light" onclick="confirmDelete(this)" data-filepath="' + item.file_path + '">Delete</button></td>';-->
<!--                        row += '<td><button type="button" class="btn btn-light" onclick="confirmRecovery(this)" data-filepath="' + item.file_path + '">Recovery</button></td>';-->
<!--                        row += '<td>' + item.file_name + '</td>';-->
<!--                        row += '<td>' + item.file_path + '</td>';-->
<!--                        row += '<td>' + item.create_time + '</td>';-->
<!--                        row += '<td>' + item.deleted_time + '</td>';-->
<!--                        tableBody.append(row);-->
<!--                    });-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->

{% endblock %}
</body>

</html>
